
.vaccine_data_body{
  overflow-y: auto;
  height:58vh;
}
.all1 {
  color: white;
  position: absolute;
  top: 80%;
  right:0%;
 width: 83%;
  background-color:#01161e ;
}

.heading_vaccine1{
  display: flex;
  
  color: white;
}

.heading_vaccine1 h3{
  margin-left:10% ;
}

table  td {
  border-bottom: 1px solid white;
  background-color:#124559;
  padding: 1%;
  margin: 1%;
  border-collapse: collapse;
}

.developerResearcher_data1{
  color:#fca311 ;
}

.phase_data1{
  color:#e71d36;
}

.category_data1{
  color: #54dacc;
}