
.graph_container{
        position: absolute;
        top: 25%;
        right:15%;
        background-color:#fff ;
        box-shadow:5px 5px 5px gray ;
}
.heading_graph{
    text-align: center;
    font-weight: bold;
}

.Areachart{
    display: flex;
    justify-content: center;
}

.daily_changes{
    position: absolute;
    right: 0%;
    top: 0%;
    /* padding: 3%; */
}








