
.graph_container{
    width: 80%;
    position: absolute;
    top: 75%;
    right: 0%;
}
.heading_graph{
    text-align: center;
    font-weight: bold;
}

.Areachart{
    display: flex;
    justify-content: center;
}

.daily_changes{
    position: absolute;
    right: 0%;
    top: 0%;
    /* padding: 3%; */
}








