*{
    margin: 0 auto;
    /* padding: 0; */
}
form{
    height: 30rem;
    width: 20rem;
    background-color: whitesmoke;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 10px 10px;
}
input{
    width: 20rem;
    margin: 1rem 0rem;
    border-radius: 5px;
    height: 1.5rem;
}
.head{
    margin-bottom: 1rem;
    font-size: large;
    font-weight: 900;
    text-align: center;
}
.regbtn{
    display: flex;
    align-self: end;
    margin-top: 2rem;
    padding: 1rem;
    border-radius:5px;
}
.displayData{
margin-top: 5rem;
display: flex;
height: 2rem;
width: 50rem;
background-color: whitesmoke;
border-radius: 5px;
box-shadow: 10px 10px;
padding-top: 1.5rem ;
}