.text{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.container{
    width: 90%;
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.small_R{
    color:#FA955A;
    font-size: 25px;
    font-weight: bold;
}
.small_T{
    color:#0070BA;
    font-size: 35px;
    font-weight: bold;
}

.third,.second, .first{
    width:350px;
    height:30vh;
    background-color:#fff;
    text-align: center;
    margin:35px ;
    padding-top: 10px;
   box-shadow:5px 5px 5px gray ;
}

.btn{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.btn1{
    margin: 20px;
    cursor: pointer;
}

.btn2{
  
    margin: 20px;
    cursor: pointer;
}

@media screen and (max-width:375px){
    .container{
        width:100%;
        height: auto;
        /* margin: 0 auto; */
        display: grid;
        grid-template-columns: 1fr ;
    }
    .third,.second, .first{
        width:260px;
        height:30vh;
        background-color:#fff;
        text-align: center;
       box-shadow:5px 5px 5px rgb(37, 36, 36) ;
    }
}










