.navbar{
    padding: 0rem 2rem;
    display: flex;
    justify-content: space-between;
}

.left{
    width: 15%;
}
.left > img{
    width: 90%;
}
.right{
    width: 80%;
    /* margin-top: 15px; */
}

.list{
    display: flex;
    justify-content: space-between;
}

li{
    list-style-type: none;
    font-size: 0.6rem;
    font-weight: 300;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: grey;
}

.sublinks1{
    display: none;
    padding: 2px;
}

.sublinks1 ul li{
    padding: 5px;
}

.list li:hover .sublinks1{
    display: block;
    position: absolute;
    padding-top: 5px;
    text-align: left;
    background-color: white;
    color: black;
}

.sublinks2{
    display: none;
    padding: 2px;
}

.sublinks2 ul li{
    padding: 5px;
}

.list li:hover .sublinks2{
    display: block;
    position: absolute;
    margin-top: 5px;
    text-align: left;
    background-color: white;
    color: black;
}

.sublinks3{
    display: none;
    padding: 2px;
}

.sublinks3 ul li{
    padding: 5px;
}

.list li:hover .sublinks3{
    display: block;
    position: absolute;
    margin-top: 5px;
    text-align: left;
    background-color: white;
    color: black;
}

.sublinks4{
    display: none;
    padding: 2px;
}

.sublinks4 ul li{
    padding: 5px;
}

.list li:hover .sublinks4{
    display: block;
    position: absolute;
    margin-top: 5px;
    text-align: left;
    background-color: white;
    color: black;
}

.sublinks5{
    display: none;
    padding: 2px;
}

.sublinks5 ul li{
    padding: 5px;
}

.list li:hover .sublinks5{
    display: block;
    position: absolute;
    margin-top: 5px;
    text-align: left;
    background-color: white;
    color: black;
}