.heading{
    width: 90%;
    height: 50px;
    background-color: rgb(31, 31, 231);
    margin: 0 auto;
    text-align: center;
    color: white;
}

.head{
    font-weight: 200;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}