.heading{
    width: 95%;
    height: 70px;
    background-color: #0070BA;
    margin: 0 auto;
    text-align: center;
    color: white;
    padding:5px;
}

.head{
    font-weight: 200;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}