.subscription {
    display: grid;
    grid-template-rows: max-content;
    margin-bottom: 0;
    margin-top: 55px;
    margin-bottom: 22px;
    padding-top: 45px;
    padding-bottom: 70px;
    background-color: #fff;
    position: relative;
}
/* .subscription-block {
    margin-top: 55px;
    margin-bottom: 22px;
    padding-top: 45px;
    padding-bottom: 70px;
    background-color: #fff;
    position: relative;
} */
#block-gavi-content .views-element-container, #block-gavi-local-tasks ul, #block-gavi-page-title, #block-views-block-modules-main-content-block-2 h2, .content-moderation-entity-moderation-form, .ctn-main, .header .level-0>li>.sub-menu-ctn .sub-menu, .js-form-item-.form-no-label, .js-quickedit-page-title, .partner_slider-wrapper, .path-news-resources .views-exposed-form, .path-search .views-exposed-form, .row-wrapper, .user-login-form {
    position: relative;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 40px;
    padding-left: 40px;
}
user agent stylesheet
div {
    display: block;
}
body, input {
    margin: 0;
    font-family: "Frutiger Roman","Carnero Book",arial,sans-serif,arial,sans-serif;
    font-size: 18px;
}
body, html {
    height: 100%;
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

