/* .box2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.logo1{
    width: 15px;
} */










 .box1{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 50px;
    border-top: 1px solid orange;
}

.left1{
    width: 50%;
    font-size: 90%;
    font-weight: 600;
}

.right1{
    width: 40%;
    text-align: center;
    margin-top: 17px;
}

.sub{
    width: 90%;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid orange;
    background-color: white;
    color: orange;
    cursor: pointer;
}

.box2{
    width: 90%;
    padding: 5px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
}

.logo1{
    width: 30px;
}
.logo-1{
    width: 180px;
    height: 68px;
}


.links{
    width: 72%;
    margin-left: 3rem;
    margin-top: 1rem;
}
.nav-links{
    text-decoration: none;
    font-size: 16px;
    margin-left: 12px;
    color: black;
    
}

.icons > p{
    font-size: 15px;
}

.box3{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    border-bottom: 5px solid green;
}

.box3 > .first{
    width: 45%;
    display: flex;
    justify-content: space-between;
    border: none;
}

.box3 > .second{
    width: 50%;
    display: flex;
    justify-content: space-between;
    border: none;
}

.box3 >.first >img{
    width: 77px;

}

.box3 >.second >img{
    width: 20%;
}

.box3 > .first >p {
    font-size: 10px;
} 
.fa-brands{
    font-size: 24px;
    margin-left: 5px;
}
